.booking {
  position: relative;
  min-height: 555px;
  display: flex;
  align-items: center;
}

.booking__background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.booking__center-container {
  display: flex;
  justify-content: center;
}

.booking__container {
  padding: 50px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;

  @include vp-1023 {
    padding: 88px 125px 100px;
    flex-direction: column;
    gap: 52px;
  }

  @include vp-767 {
    width: 100%;
    padding: 60px 0 65px;
    gap: 34px;
  }
}

.booking__text {
  margin: 0 0 8px;

  @include vp-1023 {
    margin: 0;
    text-align: center;
  }
}

.booking__text h2 {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;

  @include vp-1023 {
    margin: 0 0 5px;
    font-size: 34px;
  }

  @include vp-767 {
    margin: 0 0 12px;
    font-size: 24px;
    line-height: 130%;
  }
}

.booking__text p {
  margin: 0;
  font-size: 18px;
  line-height: 150%;

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
  }
}

.booking__form-wrapper {
  flex-shrink: 0;
  width: 403px;

  @include vp-1023 {
    width: auto;
    padding: 0 12px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.booking__form {
  padding: 50px;
  width: 100%;
  background-color: $color-default-black;
  color: $color-default-white;
}
