.btn {
  display: block;
  text-align: center;
  padding: 10px 20px;
  font-weight: 600;

  color: $color-default-black;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include interactive-1;
  @include interactive--color-white;
}
