.card {
  position: relative;
  padding: 28px 25px 35px;
  min-height: 386px;
  height: 100%;
  background-color: $color-default-black;
  color: $color-default-white;

  @include vp-1023 {
    padding: 29px 35px 35px;
  }

  @include vp-767 {
    padding: 28px 25px 35px;
  }

  @mixin remove-background {
    .card__background {
      display: none;
    }
  }

  @include hover {
    @include remove-background;
  }

  &:focus-within {
    @include remove-background;
  }
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__table-wrapper {
  margin: 0 0 5px;

  caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 12px;
    text-align: start;

    @include vp-767 {
      margin: 0 0 13px;
    }
  }

  tr {
    margin: 0 -2px 12px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  th {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  td {
    padding: 0;
    color: $quartz;
  }

  a {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto 0 0;
  }
}

.card__background {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .catalog.no-js & {
    display: none;
  }
}

.card__background-title-js {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 23px;
  left: 30px;
  z-index: 3;

  @include vp-1023 {
    bottom: 28px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 17px;
    left: 25px;
  }
}
