.card {
  position: relative;
  padding: 28px 24px 35px;
  height: 386px;
  background-color: $color-default-black;
  color: $color-default-white;

  @include vp-1365 {
    padding: 2vw 1.75vw 2.5vw;
    height: 28.2vw;
  }

  @media (max-width: 1120px) {
    padding: 22.4px 19.6px 28px;
    height: 315px;
  }

  @include vp-1023 {
    padding: 29px 34px 35px;
    height: 50.26vw;
  }

  @include vp-767 {
    padding: 28px 24px 35px;
    height: 480px;
  }

  @media (max-width: 400px) {
    height: 120.6vw;
  }

  @mixin remove-background {
    .card__background {
      display: none;
    }
  }

  @include hover {
    @include remove-background;
  }

  &:focus-within {
    @include remove-background;
  }
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__table-wrapper {
  margin: 0 0 15px;
  height: 100%;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-default-black;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid $color-default-black; /* should match background, can't be transparent */
    background-color: $color-default-white;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-neon-blue;
  }

  caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 12px;
    text-align: start;

    @include vp-767 {
      margin: 0 0 13px;
    }
  }

  tr {
    margin: 0 0 12px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  th {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  td {
    padding: 0;
    color: $quartz;
  }

  a {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto 0 0;
  }
}

.card__background {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .catalog.no-js & {
    display: none;
  }
}

.card__background-title-js {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 23px;
  left: 30px;
  z-index: 3;
  max-width: 80%;

  @include vp-1365 {
    left: 10%;
  }

  @include vp-1023 {
    bottom: 28px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 17px;
    left: 25px;
  }
}
