.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 58px 0 63px;
  }
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include vp-1023 {
    justify-content: center;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__map {
  position: relative;
  margin: 0 100px 0 0;
  width: 48.3%;
  height: 306px;
  flex-shrink: 0;

  @include vp-1023 {
    margin: 0 30px 0 0;
    padding: 0;
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
    height: 316px;
    order: 2;
  }
}

.contacts__map-container {
  width: 100%;
  height: 100%;
}

.contacts__map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.contacts__text-content {
  @include vp-767 {
    margin: 0 0 38px;
    order: 1;
  }

  p {
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    @include vp-1023 {
      margin: 0 0 21px;
    }

    @include vp-767 {
      margin: 0 0 25px;
    }
  }

  a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    line-height: 150%;
    width: fit-content;

    &:not(:last-child) {
      margin: 0 0 20px 0;

      @include vp-1023 {
        margin: 0 0 25px;
      }

      @include vp-767 {
        margin: 0 0 22px;
      }
    }

    svg {
      flex-shrink: 0;
    }

    @include interactive-1;
    @include interactive--color-white;
  }
}
