.intro {
  height: 650px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.intro__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.intro__text {
  flex: 0 1 970px;
  color: $color-default-white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.intro__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    margin: 0 0 25px;
    font-size: 36px;
    line-height: 45px;
  }
}

.intro__description {
  margin: 0;
  font-weight: 400;
  font-size: 20px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    margin: 0 0 25px;
    font-size: 16px;
  }
}
